@page
@model SuveyService.Pages.Suveys.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Suvey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Suvey.ID" />
            <div class="form-group">
                <label asp-for="Suvey.NumberOFKids" class="control-label"></label>
                <input asp-for="Suvey.NumberOFKids" class="form-control" />
                <span asp-validation-for="Suvey.NumberOFKids" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suvey.BookingEXperince" class="control-label"></label>
                <input asp-for="Suvey.BookingEXperince" class="form-control" />
                <span asp-validation-for="Suvey.BookingEXperince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suvey.SatisfactionWitHStaff" class="control-label"></label>
                <input asp-for="Suvey.SatisfactionWitHStaff" class="form-control" />
                <span asp-validation-for="Suvey.SatisfactionWitHStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suvey.SatisfactionWithFood" class="control-label"></label>
                <input asp-for="Suvey.SatisfactionWithFood" class="form-control" />
                <span asp-validation-for="Suvey.SatisfactionWithFood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suvey.SatisfactionWithCleaning" class="control-label"></label>
                <input asp-for="Suvey.SatisfactionWithCleaning" class="form-control" />
                <span asp-validation-for="Suvey.SatisfactionWithCleaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suvey.OtherComments" class="control-label"></label>
                <input asp-for="Suvey.OtherComments" class="form-control" />
                <span asp-validation-for="Suvey.OtherComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
